<!DOCTYPE html>
<html lang="en">
<head>
 <title>{% block title %}{% endblock %}</title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <nav class="navbar navbar-dark bg-primary">
     <div class="container">
     <h1><font color="white"><b>dunyaoguz.github.io</b></font></h1>
     <div class="btn-group btn-group-lg" role="group">
     <ul class="row my-2 my-sm-0 mx-md-n5">
     <a href="{{ SITEURL }}"><button type="button" class="btn btn-outline-light">Home</button></a>&nbsp;
     <button type="button" class="btn btn-outline-light">About</button>&nbsp;
     <button type="button" class="btn btn-outline-light">Contact</button>
     </ul>
     </div>
     <!-- <ul class="nav navbar-nav navbar-right">
       <br>
       <a href="mailto:dunyaoguz13@gmail.com" style="color:white" title="Email" class="fas fa-envelope fa-2x"></a>&nbsp;
       <a href="http://github.com/dunyaoguz" style="color:white" title="GitHub" class="fab fa-github fa-2x"></a>&nbsp;
       <a href="https://www.linkedin.com/in/dunya-oguz/" style="color:white" title="Linkedin" class="fab fa-linkedin-in fa-2x"></a>
     </ul> -->
     </div>
   </nav>
   <br>
</head>
<body>
 <div class="container">
   <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  {% block content %}{% endblock %}
 </div>
</body>
</html>
