{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}
{% block content %}
<div class="row">

 <div class="col-sm-8">
  {% for article in articles %}
   <h3><a href="{{ SITEURL }}/{{ article.slug }}.html">{{ article.title }}</a></h3>
   <label>{{ article.date.strftime('%d %B %Y') }}</label>
   {{ article.content|truncate(210) }}
  {% else %}
   No posts yet!
  {% endfor %}
 </div>
 <br>

 <div class="col-md-3">
   <div class="panel panel-default">
   <div class="panel-heading">
     <h1 class="panel-title">Dunya Oguz</h1>
   </div>
   <br>
   <div class= "photo" align= "center"><img alt="jpeg" src="images/dunya_oguz.png" width="110" height="110"></div>
   <div class="panel-body"> Raised in Turkey, based in Montreal. Movie buff, avid traveler, lifelong learner. McGill University '17. <br><br> Data Science fellow at Bitmaker Labs - General Assembly. </div>
   <div class= "panel-footer" align= "center">
   <a href="https://www.linkedin.com/in/dunya-oguz/" style="color:grey" title="Linkedin" class="fab fa-linkedin-in fa-lg"></a>&nbsp;
   <a href="mailto:dunyaoguz13@gmail.com" style="color:grey" title="Email" class="far fa-envelope fa-lg"></a>&nbsp;
   <a href="http://github.com/dunyaoguz" style="color:grey" title="GitHub" class="fab fa-github fa-lg"></a>
  </div>
 </div>

</div>

{% endblock %}
